<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>PsSp</string>
    <key>CFBundleGetInfoString</key>
    <string>Copyright 2023 Alexander R. Blanchette</string>
    <key>CFBundleIdentifier</key>
    <string>com.arbCoding.PsSp</string>
</dict>
</plist>
