[submodule "sac-format"]
	path = submodules/sac-format
	url = https://github.com/arbCoding/sac-format
[submodule "ImGuiFileDialog"]
	path = submodules/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "submodules/implot"]
	path = submodules/implot
	url = https://github.com/epezent/implot.git
[submodule "submodules/catch2"]
	path = submodules/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/Xoshiro-cpp"]
	path = submodules/Xoshiro-cpp
	url = https://github.com/Reputeless/Xoshiro-cpp.git
