# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac stuff
*.dSYM
*.DS_Store

# data files
data/*
# Compiled stuff
bin/*
# Be extra sure no objects
./src/objects/*
# Any compressed files
*.tar.gz
# Any csv files
*.csv
# Any sac files
*.sac
*.SAC
# Dumb MacOS
.DS_Store
# Ini files
*.ini
# MessagePack Files
*.msgpack
.vscode
.vscode/settings.json
.vscode/launch.json
# SQLite3 databases
*.db
# I tend to use .proj for the database
*.proj
# Any log files
*.log

# Static analysis stuff
.cache
# Made using `bear -- make`, meant to be used by CppCheck
# Make sure to remove all lines for boost and msgpack
# as they cause preprocessor directive errors for CppCheck
# took a little while to figure that out
compile_commands.json